<%= render 'layerbegin' %>
<script>
  $(document).ready(function(){
      $("#provinceid").val('<%= @selectprovince %>');

      $('#cityid').html('<%= j(options_from_collection_for_select @city, :address, :address)%>');
      $("#cityid").prepend("<option value=''>--市--</option>");
      $("#cityid").val('<%= @selectcity %>');

      $('#districtid').html('<%= j(options_from_collection_for_select @district, :address, :address)%>');
      $("#districtid").prepend("<option value=''>--区/县--</option>");
      $("#districtid").val('<%= @selectdistrict %>');
      $("#industrieid").val('<%= @selectindustrie %>');
  });
</script>
<div class="page-content">
  <div class="page-header">
    <h1>
      转为客户
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">


      <%= form_with(scope: :tran,method:'post', url: intention_transcustomers_path,local:true,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
          <h3 class="header smaller lighter blue">

            <small></small>
          </h3>
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司 </label>
            <div class="col-sm-10">
              <%= f.text_field :commpany,class:"col-xs-10 col-sm-8",value:@intention.commpany %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 联系人 </label>
            <div class="col-sm-10">
              <%= f.text_field :contact,class:"col-xs-10 col-sm-8",value:@intention.contact %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 联系方式 </label>
            <div class="col-sm-10">
              <%= f.text_field :contactphone,class:"col-xs-10 col-sm-8",value:@intention.contactphone %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 行业 </label>
            <div class="col-sm-10">
              <%= f.select :industrie_id,Industrie.all.map{|p| [p.industrie,p.id]},{include_blank:'请选择行业'},class:"col-xs-10 col-sm-8",id:'industrieid' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 地址 </label>
            <div class="col-sm-10" style="padding-left: 0px;padding-right: 0px;">
              <div class="col-xs-10 col-sm-8" style="padding-left: 0px;padding-right: 0px;">
                <div class="col-md-4" style="padding-right: 5px;">
                  <%= f.select :province,options_from_collection_for_select(@province, :address, :address),{include_blank:'--省--'},data:{remote: true, url: getcity_intention_transcustomers_path},class:"col-xs-10 col-sm-12",id:'provinceid', value:@intention.province %>
                </div>
                <div class="col-md-4" style="padding-right: 5px;">
                  <%= f.select :city,[],{include_blank:'--市--'},data:{remote: true, url: getdistrict_intention_transcustomers_path},class:"col-xs-10 col-sm-12",id:'cityid' %>
                </div>
                <div class="col-md-4" style="padding-right: 5px;">
                  <%= f.select :district,[],{include_blank:'--区/县--'},class:"col-xs-10 col-sm-12",id:'districtid' %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 详细地址 </label>
            <div class="col-sm-10">
              <%= f.text_field :address,class:"col-xs-10 col-sm-8",value:@intention.address %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 备注 </label>
            <div class="col-sm-10">
              <%= f.text_area :summary,class:"col-xs-10 col-sm-8",value:@intention.summary, rows:5 %>
            </div>
          </div>


          <div class="clearfix form-actions">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" name="commit" value="保存" class="btn btn-info" data-disable-with="保存" id="submit">
                <i class="icon-ok bigger-110"></i>
                保存
              </button>
              &nbsp;&nbsp;&nbsp;

              <a class="btn" href=<%= industries_path %>>
                <i class="icon-undo bigger-110"></i>
                返回
              </a>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
<%= render 'layerend' %>