


<div class="navbar navbar-default" id="navbar">
  <script type="text/javascript">
      try{ace.settings.check('navbar' , 'fixed')}catch(e){}

      $(document).ready(function(){
          $('#followappointspan').text('<%= getintentioncount %>');
          $('#followcustomerappointspan').text('<%= getcustomerappointcount %>');
          $('#serviceendspan').text('<%= getserviceendcount %>');
          $('#intentionmsg').text('+<%= getintentioncount %>');
          $('#customermsg').text('+<%= getcustomerappointcount %>');
          $('#servicemsg').text('+<%= getserviceendcount %>');
      });
  </script>

  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
          <i class="fa fa-bars"></i>
          众赢
        </small>
      </a><!-- /.brand -->
    </div><!-- /.navbar-header -->

    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="red">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-bell-alt icon-animated-bell"></i>
            <span class="badge badge-important"></span>
          </a>



          <ul class="pull-right dropdown-navbar  dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-warning-sign"></i>
              待处理
            </li>

            <li data-turbolinks="false">
              <a href=<%= followappoints_path %>>
                <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover icon-puzzle-piece"></i>
												待跟进意向
											</span>
                  <span class="pull-right badge badge-danger" id="intentionmsg">+0</span>
                </div>
              </a>
            </li>

            <li data-turbolinks="false">
              <a href=<%= followcustomerappoints_path %>>
                <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover icon-group"></i>
												待跟进客户
											</span>
                  <span class="pull-right badge badge-danger" id="customermsg">+0</span>
                </div>
              </a>
            </li>

            <li data-turbolinks="false">
              <a href=<%= serviceends_path %>>
                <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover icon-user"></i>
												服务到期
											</span>
                  <span class="pull-right badge badge-danger" id="servicemsg">+0</span>
                </div>
              </a>
            </li>


          </ul>
        </li>

        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">

								<span class="user-info">
									<small>欢迎光临</small>
管理员
								</span>

            <i class="icon-caret-down"></i>
          </a>

          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li data-turbolinks="false">
              <a href='#'>
                <i class="icon-cog"></i>
                修改密码
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href='#'>
                <i class="icon-off"></i>
                退出
              </a>
            </li>
          </ul>
        </li>
      </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
  </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
  <script type="text/javascript">
      try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      </script>

      <% url = request.url %>

      <ul class="nav nav-list">
        <li class="active" data-turbolinks="false">
          <a href=<%= controls_path %>>
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 控制台 </span>
          </a>
        </li>

        <% if url.include?('appointtps') || url.include?('industries') || url.include?('productdefs') %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
        <a href="#" class="dropdown-toggle">
          <i class="icon-cog"></i>
          <span class="menu-text"> 系统 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li data-turbolinks="false">
            <a href=<%= appointtps_path %>>
              <i class="icon-double-angle-right"></i>
              跟进方式
            </a>
          </li>

          <li data-turbolinks="false">
            <a href=<%= industries_path %>>
              <i class="icon-double-angle-right"></i>
              行业定义
            </a>
          </li>

          <li data-turbolinks="false">
            <a href=<%= productdefs_path %>>
              <i class="icon-double-angle-right"></i>
              产品定义
            </a>
          </li>

          <li data-turbolinks="false">
            <a href=<%= customertypes_path %>>
              <i class="icon-double-angle-right"></i>
              客户类型
            </a>
          </li>

          <li data-turbolinks="false">
            <a href=<%= pacttypes_path %>>
              <i class="icon-double-angle-right"></i>
              合同类型
            </a>
          </li>

        </ul>
        </li>

        <% if url.include?('intentions') || url.include?('followappoints') %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
        <a href="#" class="dropdown-toggle">
          <i class="icon-puzzle-piece"></i>
          <span class="menu-text"> 意向客户 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li data-turbolinks="false">
            <a href=<%= intentions_path %>>
              <i class="icon-double-angle-right"></i>
              意向客户
            </a>
          </li>
          <li data-turbolinks="false">
            <a href=<%= followappoints_path %>>
              <i class="icon-double-angle-right"></i>
              待跟进
              <span id="followappointspan" class="badge badge-important">0</span>
            </a>
          </li>





        </ul>
        </li>

        <% if url.include?('customers') || url.include?('followcustomerappoints') || url.include?('serviceends') %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
        <a href="#" class="dropdown-toggle">
          <i class="icon-group"></i>
          <span class="menu-text"> 客户 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li data-turbolinks="false">
            <a href=<%= customers_path %>>
              <i class="icon-double-angle-right"></i>
              客户
            </a>
          </li>
          <li data-turbolinks="false">
            <a href=<%= followcustomerappoints_path %>>
              <i class="icon-double-angle-right"></i>
              待跟进
              <span id="followcustomerappointspan" class="badge badge-important">0</span>
            </a>
          </li>
          <li data-turbolinks="false">
            <a href=<%= serviceends_path %>>
              <i class="icon-double-angle-right"></i>
              服务到期
              <span id="serviceendspan" class="badge badge-important">0</span>
            </a>
          </li>



        </ul>
        </li>


        <% if url.include?('users') %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
        <a href="#" class="dropdown-toggle">
          <i class="icon-user"></i>
          <span class="menu-text"> 用户 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li data-turbolinks="false">
            <a href=<%= users_path %>>
              <i class="icon-double-angle-right"></i>
              用户
            </a>
          </li>
        </ul>
        </li>





      </ul><!-- /.nav-list -->

      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>

      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      </script>
    </div>

    <div class="main-content">

